<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="NormaTestPlan" parallel="tests" thread-count="2">      
      <test name="工作室首页辅导状况">
    <classes>
      <class name="HomePage.EveryRole_HomePage"/>
      <class name="HomePage.Student_HomePage"/>
  
    </classes>
  </test> <!-- Test -->     
</suite> <!-- Suite -->

