<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="NormaTestPlan" parallel="tests" thread-count="3">
    
    <test name="活动流程测试">
        <classes>
            <class name="Activity.Publish_ActivitywithallStep" />
            <class name="Activity.To_joinActivity" />    
            <class name="Activity.Advice_to_activity" />
        </classes>
        </test>
        
        <test name="活动投票和评价">
        <classes>
            <class name="ActivityAddedVoteAndEvaluate.VoteAndEvaluate" />
        </classes>
        </test>
        
  <test name="备课流程测试">
    <classes>
      <class name="Backup_Course.publish_bcourse"/>
      <class name="Backup_Course.Join_bCourse"/>
      <class name="Backup_Course.making"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="文章交流测试">
    <classes> 
      <class name="Documentation_and_exchange.SentDoc"/>
      <class name="Documentation_and_exchange.Sent_Exchange"/>
      <class name="Documentation_and_exchange.doc_comments"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="磨课流程测试">
    <classes>
      <class name="Mo_course.Publish_moke"/>
      <class name="Mo_course.join_moke"/>
      <class name="Mo_course.Check_data"/>
    </classes>
  </test> <!-- Test -->
  
      <test name="作业流程测试">
        <classes>
            <class name="task.Publish_Task" />
            <class name="task.Submit_Task" />    
            <class name="task.Making" />
        </classes>
    </test>
    
    <test name="同伴协作流程测试">
        <classes>
             <class name="Tongbanxiezuo.Publish_cooperation" />    
            <class name="Tongbanxiezuo.Join_cooperation" />
        </classes>
    </test>
    
    <test name="新活动测试">
        <classes>
             <class name="NewActivity.ChengGuoZhanSi" />    
            <class name="NewActivity.JoinActivity" />
            <class name="NewActivity.MakingHuodong" />
        </classes>
    </test>
    
     <test name="课程学习测试">
        <classes>
            <class name="course_learning.Learning" />
        </classes>
     </test>
    
    <test name="资源测试">
        <classes>
            <class name="Resources.UploadSource" />
            <class name="Resources.EditAndDeleteSource" />
        </classes>
    </test>
    
    <test name="视频测试">
        <classes>
            <class name="Vedio.UploadVedio" />
            <class name="Vedio.EditAndDeleteThePublishedVedio" />
        </classes>
    </test>
    
    <test name="公告测试">
        <classes>
            <class name="gonggao.Fabugonggao"/>
            <class name="gonggao.Gejigonggao"/>
            <class name="gonggao.Qanbugonggao"/>
        </classes>
    </test>
    
    <test name="工作室首页测试">
        <classes>
           <class name="HomePage.EveryRole_HomePage"/>
           <class name="HomePage.Student_HomePage"/>
        </classes>
    </test>
        
  <test name="删除测试">
    <classes>
      <class name="DeleteTesting.BeikeDeleteTest"/>
      <class name="DeleteTesting.DiaochawenjuanDeleteTest"/>
      <class name="DeleteTesting.HuodongDeleteTest"/>
      <class name="DeleteTesting.JiaoLiuDeleteTest"/>
      <class name="DeleteTesting.KeguantiDeleteTest"/>
      <class name="DeleteTesting.MokeDeleteTest"/>
      <class name="DeleteTesting.TongbanxiezuoDeleteTest"/>
      <class name="DeleteTesting.WenzhangDeleteTest"/>
      <class name="DeleteTesting.ZuoyeDeleteTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

